<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <title>Template</title>
    </head>

    <body>
        <!-- Un commentaire HTML -->
        <header>
            <!-- La barre de navigation principale -->
            <nav></nav>
        </header>
        
        <main>
            <section class="hero">
                <h1>Un super template</h1>
                <p>Copiez ce dossier pour le garder propre!</p>
            </section>
        </main>

        <footer></footer>
    </body>
</html>