/* Je suis un commentaire CSS */
body {
    color: #333;
    font-size: 18px;
}

/* On peut selectionner les noms de balises HTML */
/* Consequences tous les elements de ce type seront modifiés */
h1 {
    color: #ffc0c7;
}

h2 {
    color: #4169e1;
}

/* On peut selectionner des balises spécifiques grâce aux class en utlisant le . */
/* Conséquence tous les element qui ont cette class seront modifiés */
.section-3 {
    color: #229954;
}

.subtitle-h2 {
    color: red;
}

.subtitle {
    color: #6c3483;
}

/* On peut selectionner une balise spécifique grâce à son id en utilisant un # */
/* Conséquence l'element qui a cet id sera modifié */
/* On préfère laisser les ID au Javascript sauf exception */
#ancre {
    font-size: 60px;
}

/* On peut selectionner des balises spécifiques par selecteur descendant */
.section-1 h5 {
    color: #6c3483;
}

/* Je peux selectionner plusieurs elements en les séparant par une virgule */
.section-1 h4,
.section-3 .item-ol li {
    color: orange;
}